@charset "utf-8";
@import url(//fonts.googleapis.com/css?family=Do+Hyeon|Jua|Nanum+Gothic+Coding);
            * {  box-sizing:border-box; padding:0; margin:0; }
    .row::after { content:""; clear:both; display:table; }
    [class*="col-"] { float:left; padding:10px; }
    .menu  ul, .banner ul { list-style-type:none; }
    .menu  li { background-color:pink; color:black; padding:0px; margin-bottom:10px; box-shadow:0 1px 3px gray;}
    .menu li:hover{background-color:red;}
    .banner li {border:2px solid black; padding:10px; margin-bottom:10px; box-shadow:0 1px 3px gray;}
    .banner li img {width:30%; vertical-align:middle;}
    .header {background-color:#333333;}
    .main{text-align:center;}
    
    @media only screen and (min-width: 0px) {        /* mobile */
    .col-m-0 {width: 0%;} .col-m-1 {width: 8.33%;}     .col-m-2 {width: 16.66%;}    .col-m-3 {width: 25%;}    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}    .col-m-6 {width: 50%;}    .col-m-7 {width: 58.33%;}    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}    .col-m-10 {width: 83.33%;}    .col-m-11 {width: 91.66%;}    .col-m-12 {width: 100%;} }
    @media only screen and (min-width: 1000px) {        /* desktop */
    .col-1{ width:8.33%;} .col-2{width:16.66%;} .col-3{width:25%;} .col-4{ width:33.33%;}
    .col-5{width:41.66%;} .col-6{width:50%;} .col-7{ width:58.33%;} .col-8{width:66.66%; height:670px;}
    .col-9{width:75%;} .col-10{ width:83.33%;} .col-11{width:91.66%;} .col-12{width:100%;}}
    nav ul {margin:0; padding:0;}
    nav ul li {display:inline; margin:25px;}
    ul li ol li{display:block;}
    ol li{display:block;}
    ol li a:link{color:gray;}
    ol li a:visited{color:gray;}
    ol li a:hover{color:gray;}
    ol li a:active{color:gray;}
    ul{list-style-type:square; }
  
    body{
        font-family: 'Do Hyeon';
    }
        .header{
            height: 150px;
            margin: 0px;
            border: 0px;
            text-align:center;
            
        }
        div{
          font-family: 'Do Hyeon';
        }

        footer {
            height: 100px;
            margin: 0 auto;
            text-align: center;
            font-family: 'Nanum Gothic Coding';
        }


        .divIndex {
            width: 50%;
            float: left;
            text-align: center;
            margin: 0 auto;
            
        }

        .div100Per {
            width: 100%;
            float: left;
            text-align: center;
            font-family: 'Poor Story';
            margin: 0 auto;
        }
        

        a:link {
            color: #cf9e0a;
            background-color: transparent;
            text-decoration: none;
            size:30;
        }

        a:visited {
            color: #cf9e0a;
            background-color: transparent;
            text-decoration: none;
            size:30;
        }

        a:hover {
            color: #cf9e0a;
            background-color: transparent;
            text-decoration: underline;
            size:10;
        }

        a:active {
            color: #cf9e0a;
            background-color: transparent;
            text-decoration: none;
            size:10;
        }
        
        img
        {
          height:400px;
          width:250px;
          float:center;
        }
